<div style="width:540%;"> 
    <span style="margin-left: 1.5%; display: inline-block;"> <p style="margin-left: 5%; font-size: large;"> 💬 </p> </span>
    <span style="margin-left: 0.5%; display: inline-block;"> <p style="margin-left: 1%; font-size: large;"> FerrisChat </p> </span>
    <span style="margin-left: 1.5%; display: inline-block; float: right; cursor: pointer;" (click)="logout()"> <p style="margin-left: 5%; font-size: large;"> Logout</p> </span>
    <span style="margin-left: 0.9%; display: inline-block; float: right; cursor: pointer;" (click)="register()"> <p style="margin-left: 5%; font-size: large;"> Sign_Up</p> </span>
</div>

